@media only screen and (min-width:2180px)/*Desktop 4K*/
{
    html 
    {
        height: 100%;
    }
    body
    {
        margin: auto;
        width: 55%;
        background-color: #5f9341;
        padding-top:20px;
        height: 100%;       
    }
    h1{
        text-align:center;
    }
    #main {
        border: 3px outset;
        padding: 10px;
        border-radius: 25px;
        background-color: #85bb65;
        height: 75%;
    }
    p{
        font-size: 40px;
        text-align: center;
        padding-top: 10%;
    }
    input
    {
        float: right;
        font-size: x-large;
    }
    form 
    {
        font-size: x-large;

    }
}
@media only screen and (min-width:1920px) and (max-width:2000px)/*Desktop 1080p*/
{
    html 
    {
        height: 100%;
    }
    body
    {
        margin: auto;
        width: 55%;
        background-color: #5f9341;
        padding-top:20px;
        height: 100%;       
    }
    h1
    {
        text-align:center;
    }
    #main
    {
        border: 3px outset;
        padding: 10px;
        border-radius: 25px;
        background-color: #85bb65;
        height: 75%;
    }
    p{
        font-size: 40px;
        text-align: center;
        padding-top: 10%;
    }
    input
    {
        float: right;
        font-size: x-large;
    }
    form 
    {
        font-size: x-large;
    }
   
}

@media only screen and (max-width:1919px)/*Mobile-Res under 1080p*/
{
    html 
    {
        height: 100%;
    }
    body
    {
        margin: auto;
        width: 90%;
        background-color: #5f9341;
        padding-top:20%;
        height: 100%;       
    }
    h1{
        text-align:center;
    }
    #main {
        border: 3px outset;
        padding: 10px;
        border-radius: 25px;
        background-color: #85bb65;
        height: 75%;
    }
    p{
        font-size: 40px;
        text-align: center;
        padding-top: 10%;
    }
    input
    {
        float: right;
        font-size: x-large;
    }
    form 
    {
        font-size: x-large;

    }
}
