html
{
    height: 100%;
}
body
{ 
    width: 50%;
    background-color: #000000;
    color: white;
    height: 100%;
    text-align: center;
    margin: auto;
}
h1
{
    border-bottom: solid white 2px;
}
